@import 'palette';

$positions: (center, top, bottom);

$bgSizes: (cover, contain);

$repeats: (repeat, repeat-x, repeat-y, no-repeat);

@each $color, $value in $colors {
  .snf-bg-color-#{$color} {
    background-color: $value !important;
  }
}

@each $color, $value in $colors {
  .snf-color-#{$color} {
    color: $value !important;
  }
}

@each $position in $positions {
  .snf-bg-position-#{$position} {
    background-position: $position;
  }
}

@each $size in $bgSizes {
  .snf-bg-size-#{$size} {
    background-size: $size;
  }
}

@each $repeat in $repeats {
  .snf-bg-repeat-#{$repeat} {
    background-repeat: $repeat;
  }
}
